In [ ]:
! pip install -r ./requirements.txt

In [173]:
import os
import sys 
import configparser
import pandas as pd
import numpy as np
import re


config = configparser.ConfigParser()
config.read('./config.ini')
data_folder = config['paths']['path_data']

In [174]:
def clean_html(x): 
    headline = x['headline'] if x['headline'] else ""
    story = x['story_body'] if x['story_body'] else ""
    return re.sub(r'<.{0,10}>', '', headline + " " +story) #html tags are usually less than 10 characters long
# news_pkl['text'] = news_pkl.apply(clean_html, axis=1)

### Adding qnt cut by DATE to headlines dataset

### Adding MCAP to headlines ds

In [2]:
with open(f"requirements.txt") as f:
    data = f.read()


# Split the data into lines and extract library names
lib_names = [line.split('==')[0] for line in data.split('\n') if '==' in line]

# Print the library names
for name in lib_names:
    print(name)

with open(f"requirements.txt", "w") as f:
    f.write("\n".join(lib_names))

accelerate
aiohttp
aiosignal
altair
arrow
asttokens
async-timeout
attrs
auto-gptq
backcall
bitsandbytes
blinker
boto3
botocore
bravado
bravado-core
cachetools
certifi
charset-normalizer
click
cmake
coloredlogs
comm
contourpy
cramjam
cycler
datasets
debugpy
decorator
deepspeed
dill
einops
exceptiongroup
executing
fastparquet
filelock
fonttools
fqdn
frozenlist
fsspec
future
gitdb
GitPython
hjson
huggingface-hub
humanfriendly
idna
importlib-metadata
ipykernel
ipython
isoduration
jedi
Jinja2
jmespath
joblib
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lit
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
monotonic
mpmath
msgpack
multidict
multiprocess
neptune
nest-asyncio
networkx
ninja
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
optimum
packaging
pandas
parso
patsy
peft
pexpect
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pydantic
pydeck
Pygments
PyJWT
pyodbc
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-oauthlib
rfc3339-validator
rfc3987
rich
rouge
rpds-py
s3transfer
safetensors
scikit-learn
scipy
seaborn
sentencepiece
simplejson
six
smmap
stack-data
statsmodels
streamlit
swagger-spec-validator
sympy
tabulate
tenacity
threadpoolctl
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
triton
trl
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
websocket-client
xxhash
yarl
zipp

In [12]:
data_folder

'/mnt/nvme0n1p1/ml_data/LLM_project'

In [15]:
df_price = pd.read_parquet(os.path.join(data_folder, 'df_price.parquet'))

In [16]:
df_price.head()

,fsym_id,p_date,exch_rate_sec_eur,p_price_adj_split_spinoff_div,DES_MCAP_CCY,factset_industry,factset_sector,DES_BETA_ADJ_104W
0,BK3N20-R,2023-09-08,0.127530,15.64,2.176294e+07,Aerospace & Defense,Electronic Technology,-0.377037
1,BF3GLV-R,2023-09-08,0.127530,77.89,5.452300e+06,Industrial Machinery,Producer Manufacturing,-0.185379
2,BT75Y6-R,2023-09-08,0.127530,7.47,5.886839e+06,Information Technology Services,Technology Services,-0.301778
3,D0JLBB-R,2023-09-08,0.127530,9.51,1.895930e+07,Pharmaceuticals: Major,Health Technology,-0.260431
4,B16HJ6-R,2023-09-08,0.006349,3783.00,2.103027e+08,Homebuilding,Consumer Durables,-0.004146

In [17]:
news_headlines = pd.read_parquet(os.path.join(data_folder, 'news_headlines_indexed.parquet'))
news_headlines.head()

,,headline,exch_rate_sec_eur,p_price_adj_split_spinoff_div,mcap_local,factset_industry,factset_sector,adj_price,RET_5D,RET_10D,RET_20D
SYMBOL,DATE,,,,,,,,,,
HKLJPC-R,2003-10-01,Goldman continues to favor X over NUE,0.855066,6.505031,3638925.18,Steel,Non-Energy Minerals,5.562233,0.027622,0.093744,0.172347
GRRFYN-R,2003-10-01,Goldman continues to favor X over NUE,0.855066,15.817830,1939560.84,Steel,Non-Energy Minerals,13.525293,0.023815,0.094229,0.159833
R5RD6T-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,0.855066,10.844352,15751400.09,Apparel/Footwear Retail,Retail Trade,9.272640,0.023103,0.121168,0.063940
FBCHQC-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,0.855066,4.832813,8163443.60,Apparel/Footwear Retail,Retail Trade,4.132375,0.006706,0.126104,0.105033
RFW7K5-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,0.855066,21.820000,1694475.74,Apparel/Footwear Retail,Retail Trade,18.657546,0.033415,0.078949,0.070759

In [19]:
df_price.rename(columns={'p_date': 'DATE', "fsym_id":"SYMBOL"}, inplace=True)

In [34]:
df_price.DES_MCAP_CCY.isna().sum() / len(df_price)

1.5821372412229198e-05

In [26]:
assert "DATE" in news_headlines.drop("mcap_local", axis =1).reset_index(drop=False)

In [27]:
print(f"news headlines shape {news_headlines.shape}")
news_headlines2 = news_headlines.drop("mcap_local", axis =1).reset_index(drop=False).merge(df_price[['DATE','SYMBOL','DES_MCAP_CCY','DES_BETA_ADJ_104W']], on=['DATE','SYMBOL'], how='left')
print(news_headlines2.shape)

news headlines shape (3319471, 10)
(3319471, 13)

In [30]:
news_headlines2.drop(columns = ["p_price_adj_split_spinoff_div","exch_rate_sec_eur", "adj_price"])

,SYMBOL,DATE,headline,factset_industry,factset_sector,RET_5D,RET_10D,RET_20D,DES_MCAP_CCY,DES_BETA_ADJ_104W
0,HKLJPC-R,2003-10-01,Goldman continues to favor X over NUE,Steel,Non-Energy Minerals,0.027622,0.093744,0.172347,3638925.18,-0.951909
1,GRRFYN-R,2003-10-01,Goldman continues to favor X over NUE,Steel,Non-Energy Minerals,0.023815,0.094229,0.159833,1939560.84,-0.988379
2,R5RD6T-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,Apparel/Footwear Retail,Retail Trade,0.023103,0.121168,0.063940,15751400.09,-0.852152
3,FBCHQC-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,Apparel/Footwear Retail,Retail Trade,0.006706,0.126104,0.105033,8163443.60,-1.076724
4,RFW7K5-R,2003-10-01,Apparel retail Q3 comps expected to be sluggis...,Apparel/Footwear Retail,Retail Trade,0.033415,0.078949,0.070759,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3319466,QTDYZ0-R,2019-09-09,Continental Gold announces gold channel sampli...,Precious Metals,Non-Energy Minerals,0.011201,0.066103,0.078876,NaN,NaN
3319467,XM0WCH-R,2019-09-09,Cobalt 27 Capital announces Q2 production upda...,Other Metals/Minerals,Non-Energy Minerals,0.073535,0.038165,0.102779,NaN,NaN
3319468,SZWBTV-R,2019-09-09,Spirit Airlines downgraded to neutral from buy...,Airlines,Transportation,0.067872,0.036851,-0.052817,2473457.74,-0.796138
3319469,VWGLQ7-R,2019-09-09,Mosaic to initiate $250M in stock repurchases;...,Chemicals: Agricultural,Process Industries,0.144569,0.041067,-0.042937,7786796.06,-1.467032
3319470,LXRH5T-R,2019-09-09,Next Biometrics Group appoint Peter Heuman as ...,Semiconductors,Electronic Technology,0.300200,0.255904,0.218570,NaN,NaN

In [31]:
news_headlines2.drop(columns = ["p_price_adj_split_spinoff_div","exch_rate_sec_eur", "adj_price"]).to_parquet(os.path.join(data_folder, 'news_headlines_indexed.parquet'))

### Importing Price df

In [2]:
import pyodbc

query = """  

SELECT  px.fsym_id 
      , px.p_date 
      , px.exch_rate_sec_eur 
      , px.p_price_adj_split_spinoff_div 
      , px.mcap_local 
      ,sec.factset_industry 
      ,sec.factset_sector 
  FROM [ScreenFactory].[dbo].[03_DailyPx_Temp] px 
  left join [ScreenFactory].[dbo].[Securities_Fds] sec 
  on px.fsym_id = sec.fsym_id 
  WHERE px.p_date >= '1999-01-07' AND px.p_date <= '2019-12-26' 
"""
query_beta = """
SELECT  px.fsym_id
      , px.p_date
      , px.exch_rate_sec_eur
      , px.p_price_adj_split_spinoff_div
      , px.mcap_local
      ,sec.factset_industry
      ,sec.factset_sector
	  ,[04_Factor_Raw_Histo].[factor_value] as beta

  FROM [ScreenFactory].[dbo].[03_DailyPx_Temp] px

  left join [ScreenFactory].[dbo].[Securities_Fds] sec
  on px.fsym_id = sec.fsym_id

  left join [ScreenFactory].[dbo].[04_Factor_Raw_Histo] 
  on px.fsym_id = [04_Factor_Raw_Histo].fsym_id AND px.p_date = [04_Factor_Raw_Histo].p_date
  WHERE px.p_date >= '1998-01-01' AND px.p_date <= '2019-12-31' AND factor_raw_id = 255 
  order by px.p_date desc

"""



query_symbols_correspondence = """
        SELECT [sym_sedol_hist].[fsym_id]
              ,[bbg_ticker]
              ,[sedol]
              ,[fsym_security_id]
              ,[ce_sec_entity].factset_entity_id
              ,factset_ultimate_parent_entity_id
        FROM [fds].[sym_v1].[sym_sedol_hist]

        join [fds].[sym_v1].[sym_coverage]
        on [sym_coverage].fsym_id = [sym_sedol_hist].[fsym_id]

 

        join [fds].[sym_v1].[sym_bbg]
        on sym_bbg.fsym_id = sym_sedol_hist.fsym_id

 

        join [fds].[evt_v1].[ce_sec_entity]
        on [fsym_security_id] = [ce_sec_entity].fsym_id

 

        join [fds].[ent_v1].[ent_entity_structure]
        on [ce_sec_entity].factset_entity_id = [ent_entity_structure].factset_entity_id
    """

In [3]:

# con = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=RAMASRVSQL03.ramai.local;UID=linuxml;PWD=lymph-nBFKGPj5"') #does not work
# mapping_df = pd.read_sql(
#     query_beta, 
#     con,
# )
# con.close()

# print('mapping data:', mapping_df.shape, mapping_df.columns)
# print('mapping data -R and -E size:', len(mapping_df['fsym_id'].unique()), len(mapping_df['factset_ultimate_parent_entity_id'].unique()))

In [4]:
import pyodbc
import pandas as pd

# Your connection string
conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=RAMASRVSQL03.ramai.local;"
    "UID=linuxml;"
    "PWD=lymph-nBFKGPj5"
)
conn_str

# Initiate the connection
conn = pyodbc.connect(conn_str)

# Execute the query and read into a DataFrame
df = pd.read_sql(query_beta, conn)

# Close the connection
conn.close()

# Show the DataFrame
print(df)

/tmp/ipykernel_2556918/3221508416.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_beta, conn)

           fsym_id      p_date  exch_rate_sec_eur  \
0         BBFTLX-R  2019-12-31           0.029713
1         CKWW3M-R  2019-12-31           0.000771
2         B5W6J0-R  2019-12-31           0.008199
3         B6TRWR-R  2019-12-31           0.891146
4         B6X28X-R  2019-12-31           1.000000
...            ...         ...                ...
37824730  S27B1B-R  1998-01-01           0.916674
37824731  S4G24V-R  1998-01-01           0.916674
37824732  S8Z5CB-R  1998-01-01           0.916674
37824733  SB2QCW-R  1998-01-01           0.916674
37824734  GHT33G-R  1998-01-01           0.916674

          p_price_adj_split_spinoff_div    mcap_local  \
0                            182.366274  1.748788e+08
1                         129119.544609  1.548466e+09
2                           1748.125907  5.801061e+08
3                             29.600000  2.607701e+06
4                              4.690000  5.273069e+04
...                                 ...           ...
37824730                      23.000000  9.419880e+05
37824731                       7.750000  1.470950e+05
37824732                      21.031615  8.023680e+05
37824733                      20.562500  4.311339e+05
37824734                      10.390625  4.780893e+06

                           factset_industry          factset_sector      beta
0                      Industrial Machinery  Producer Manufacturing -0.949786
1                    Pharmaceuticals: Major       Health Technology -1.122770
2          Agricultural Commodities/Milling      Process Industries -0.522961
3         Miscellaneous Commercial Services     Commercial Services -0.751909
4                       Medical Specialties       Health Technology -0.687575
...                                     ...                     ...       ...
37824730                     Semiconductors   Electronic Technology -1.751937
37824731                     Integrated Oil         Energy Minerals -0.755057
37824732      Real Estate Investment Trusts                 Finance -0.579187
37824733   Agricultural Commodities/Milling      Process Industries -0.915230
37824734              Electronic Components   Electronic Technology -1.421712

[37824735 rows x 8 columns]

In [5]:
df = df.rename(columns= 
               {'beta':'DES_BETA_ADJ_104W', 'mcap_local' : 'DES_MCAP_CCY', 'p_date':'DATE', 'fsym_id' : 'SYMBOL'}
               )
if 'DATE' in df.columns and df['DATE'].dtype == 'object':
    df['DATE'] = pd.to_datetime(df['DATE'])
    df = df.set_index(['SYMBOL','DATE']).sort_index()
else:
    assert "DATE" in df.index.names and df.index.get_level_values("DATE").dtype == 'datetime64[ns]'


# Calculate the USD adjusted price
usd_adjusted_price = df['p_price_adj_split_spinoff_div'] * df['exch_rate_sec_eur']

# Calculate the forward 5-day return
df['RET_5D'] = usd_adjusted_price.shift(-5) /usd_adjusted_price - 1
# df['RET_5D_dec'] = df.groupby('DATE')['RET_5D'].transform(lambda x:np.floor((x.rank(pct=True)-1e-7) * 10 ))
df['RET_5D_bin'] = df.groupby('DATE')['RET_5D'].transform(lambda x:np.floor((x.rank(pct=True)-1e-7) * 2))

#for 10D 
df['RET_10D'] = usd_adjusted_price.shift(-10) /usd_adjusted_price - 1
# df['RET_10D_dec'] = df.groupby('DATE')['RET_10D'].transform(lambda x:np.floor((x.rank(pct=True)-1e-7) * 10 ))
df['RET_10D_bin'] = df.groupby('DATE')['RET_10D'].transform(lambda x:np.floor((x.rank(pct=True)-1e-7) * 2))

df = df.rename(columns = { "factset_industry": "DES_FACTSET_INDUSTRY", "factset_sector": "DES_FACTSET_SECTOR"} )
df.to_parquet(os.path.join(data_folder, 'df_price.parquet'))

In [6]:
del df["RET_5D"]

In [7]:
del df['RET_10D']

In [8]:
df.head()
# print(df.index.get_level_values(0).nunique()
print(f"number of symbols unique {df.index.get_level_values(0).nunique()}\nnumber of dates unique {df.index.get_level_values(1).nunique()}\nnumber of rows {df.shape[0]}")

number of symbols unique 40605
number of dates unique 5739
number of rows 37824735

In [11]:
data_folder
df.to_parquet(os.path.join(data_folder, "df_price_v1.1.parquet"))

In [ ]:

# Show the DataFrame
import matplotlib.pyplot as plt
df_small_sample = df.loc[df.index.get_level_values('SYMBOL').unique()[:30]]
listcolorints = [0,1,0,1,0,1,0,1,0,1]
COLORSDICT = {0:'red', 1:'blue'}
print(list(map(COLORSDICT.get, listcolorints)))
df_small_sample.loc[:, ['p_price_adj_split_spinoff_div', 'RET_5D']]
plt.title(f"RET_5D")
plt.scatter(df_small_sample.index.get_level_values(1)[:20], df_small_sample.loc[:,'p_price_adj_split_spinoff_div'].head(20), c =list( map(COLORSDICT.get, (df_small_sample.loc[:,'forward_5d_return']>0).astype(float).values[:20])))
plt.plot(df_small_sample.index.get_level_values(1)[:20], df_small_sample.loc[:,'p_price_adj_split_spinoff_div'].head(20))
rets = pd.Series(df_small_sample.loc[:,'RET_5D'].values, index = df_small_sample.index.get_level_values(1))
rets = pd.Series(rets.values[:10])


def gen():
    for i in range(0,df.shape[0], 10):
        yield df.iloc[i:i+10].loc[:, ['RET_5D_qnt','RET_5D_dec', 'forward_5d_return']]

gene = gen()
next(gene)
insufficient_data_groups = df.groupby('SYMBOL').filter(lambda x: x['forward_5d_return'].nunique() < 3)[['forward_5d_return', 'RET_5D_qnt']]
print(insufficient_data_groups)

### Merge df_v2.1(raw) with df_price

In [140]:
df_price = df

df_headlines = pd.read_parquet(os.path.join(data_folder, 'news_headlines_final_v2.1(raw).parquet'))

In [141]:
print(f"number of symbols unique {df_headlines.index.get_level_values(0).nunique()}\nnumber of dates unique {df_headlines.index.get_level_values(1).nunique()}\nnumber of rows {df_headlines.shape[0]}")

number of symbols unique 14260
number of dates unique 2835
number of rows 2928084

In [148]:
print(cols_final)
print(list(df_price.columns))

['SYMBOL', 'DATE', 'RET_5D_dec', 'RET_5D_bin', 'DES_MCAP_CCY', 'DES_FACTSET_INDUSTRY', 'DES_FACTSET_SECTOR', 'DES_BETA_ADJ_104W']
['exch_rate_sec_eur', 'p_price_adj_split_spinoff_div', 'DES_MCAP_CCY', 'DES_FACTSET_INDUSTRY', 'DES_FACTSET_SECTOR', 'DES_BETA_ADJ_104W', 'RET_5D', 'RET_5D_dec', 'RET_5D_bin']

In [151]:
df_price.head()

                     exch_rate_sec_eur  p_price_adj_split_spinoff_div  \
SYMBOL   DATE
B00165-R 1998-01-01           0.916674                         8.3750
         1998-01-02           0.920302                         8.1250
         1998-01-05           0.927988                         8.0625
         1998-01-06           0.929887                         8.0625
         1998-01-07           0.931706                         8.3125

                     DES_MCAP_CCY DES_FACTSET_INDUSTRY   DES_FACTSET_SECTOR  \
SYMBOL   DATE
B00165-R 1998-01-01   105131.3750    Packaged Software  Technology Services
         1998-01-02   101993.1250    Packaged Software  Technology Services
         1998-01-05   101208.5625    Packaged Software  Technology Services
         1998-01-06   101208.5625    Packaged Software  Technology Services
         1998-01-07   104346.8125    Packaged Software  Technology Services

                     DES_BETA_ADJ_104W    RET_5D  RET_5D_dec  RET_5D_bin
SYMBOL   DATE
B00165-R 1998-01-01          -1.531950  0.011591         6.0         1.0
         1998-01-02          -1.517021  0.009476         8.0         1.0
         1998-01-05          -1.511409  0.000650         8.0         1.0
         1998-01-06          -1.509623  0.007658         7.0         1.0
         1998-01-07          -1.502371 -0.024011         3.0         0.0

In [152]:
df_headlines_merged = df_headlines.merge(df_price.reset_index(drop=False)[cols_final], on = ['SYMBOL', 'DATE'], how = 'left')

In [155]:
df_headlines_merged = df_headlines_merged.set_index(['SYMBOL', 'DATE']).sort_index()

In [156]:
print(f"number of symbols unique {df_headlines_merged.index.get_level_values(0).nunique()}\nnumber of dates unique {df_headlines_merged.index.get_level_values(1).nunique()}\nnumber of rows {df_headlines_merged.shape[0]}")

number of symbols unique 14260
number of dates unique 2835
number of rows 2928084

In [159]:
df_headlines_merged.to_parquet(
    os.path.join(data_folder, 'news_headlines_final_v2_merged.parquet')
)

In [157]:
os.listdir(data_folder)

['news_200304_202212.pkl',
 'news_headlines_final_v2.1(raw).parquet',
 'df_price.parquet',
 'trscript_data_t_199905_202205.pkl',
 'news_headlines_final_v2.parquet',
 'news_headlines_indexed_cls.parquet',
 'news_headlines_final10bins.parquet',
 'news_headlines_final.parquet']

### Restart with correct date and Ret_Bins

In [2]:
os.listdir(os.path.join(data_folder))

['news_200304_202212.pkl',
 'df_price.parquet',
 'trscript_data_t_199905_202205.pkl',
 'news_headlines_indexed_cls.parquet',
 'news_headlines_final10bins.parquet',
 'news_headlines_final.parquet']

In [12]:
import pyodbc
import pandas as pd

query_symbols_correspondence = """
        SELECT [sym_sedol_hist].[fsym_id]
              ,[bbg_ticker]
              ,[sedol]
              ,[fsym_security_id]
              ,[ce_sec_entity].factset_entity_id
              ,factset_ultimate_parent_entity_id
        FROM [fds].[sym_v1].[sym_sedol_hist]

        join [fds].[sym_v1].[sym_coverage]
        on [sym_coverage].fsym_id = [sym_sedol_hist].[fsym_id]

 

        join [fds].[sym_v1].[sym_bbg]
        on sym_bbg.fsym_id = sym_sedol_hist.fsym_id

 

        join [fds].[evt_v1].[ce_sec_entity]
        on [fsym_security_id] = [ce_sec_entity].fsym_id

 

        join [fds].[ent_v1].[ent_entity_structure]
        on [ce_sec_entity].factset_entity_id = [ent_entity_structure].factset_entity_id
    """

# Your connection string
conn_str = (
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=RAMASRVSQL03.ramai.local;"
    "UID=linuxml;"
    "PWD=lymph-nBFKGPj5"
)
conn_str

# Initiate the connection
conn = pyodbc.connect(conn_str)

# Execute the query and read into a DataFrame
df_symbols = pd.read_sql(query_symbols_correspondence, conn)

# Close the connection
conn.close()

# Show the DataFrame
df_symbols.head(2)

/tmp/ipykernel_2556918/3186477113.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_symbols = pd.read_sql(query_symbols_correspondence, conn)

,fsym_id,bbg_ticker,sedol,fsym_security_id,factset_entity_id,factset_ultimate_parent_entity_id
0,B0TXZW-R,TEVA AV,BFZPWY2,FLGB2R-S,00115K-E,00115K-E
1,B0QCY8-R,6NNA GR,BPGLH55,DZLDX6-S,0J4BVJ-E,0J4BVJ-E

In [13]:
df_price = df

In [123]:
df_price = pd.read_parquet(os.path.join(data_folder, 'df_price_v1.1.parquet')) #cf data_versions.log

In [14]:
df_price.columns

Index(['exch_rate_sec_eur', 'p_price_adj_split_spinoff_div', 'DES_MCAP_CCY',
       'DES_FACTSET_INDUSTRY', 'DES_FACTSET_SECTOR', 'DES_BETA_ADJ_104W',
       'RET_5D_bin', 'RET_10D_bin'],
      dtype='object')

In [175]:

news_pkl = pd.read_pickle(os.path.join(data_folder, 'news_200304_202212.pkl'))

In [ ]:

import datetime, re
old_cols = ["mcap_local", "factset_industry", "factset_sector"]
new_cols =["DEs_MCAP_CCY", "DES_FACTSET_INDUSTRY", "DES_FACTSET_SECTOR"]
if any([col in df_price.columns for col in old_cols]):
    print(f"renaming columns {old_cols} to {new_cols}")
    df_price = df_price.rename(columns= dict(zip(old_cols, new_cols)))


#create SYMBOL index
print(f"creating SYMBOL index")
news_pkl = news_pkl.rename(columns = {"all_factset_entity_id": "SYMBOL", "publish_time": "DATE"})
news_pkl = news_pkl.explode("SYMBOL").dropna(subset = ['SYMBOL']) # converts list of symbols into separate rows
news_pkl = news_pkl[['DATE', 'SYMBOL', 'headline', 'story_body']]

# process DATE : convert 2012-06-06T05:40:39Z to 2012-06-06
print(f"processing DATE")
datecol = pd.to_datetime(news_pkl['DATE']).dt.tz_localize(None).dt.strftime('%Y-%m-%d')
news_pkl['DATE'] = pd.to_datetime(datecol)

#set the index to SYMBOL, DATE
print(f"setting index to SYMBOL, DATE")
news_pkl = news_pkl.set_index(['SYMBOL', 'DATE']).sort_index()

print(f"shifting dates by 1 day")
news_pkl['DATE2'] =( news_pkl.reset_index(level = 1)['DATE'] + datetime.timedelta(days=1)).values
news_pkl = news_pkl.reset_index(level = 1, drop = True).rename(columns = {"DATE2": "DATE"}).reset_index(drop=False).set_index(['SYMBOL', 'DATE']).sort_index()

In [16]:
news_pkl

                                                              headline  \
SYMBOL   DATE
000BDW-E 2020-02-13  StreetAccount Summary: Stocks reaching new 52-...
         2020-02-20  StreetAccount Summary: Stocks reaching new 52-...
         2022-05-12  StreetAccount Summary: Stocks reaching new 52-...
         2022-05-17  StreetAccount Summary: Stocks reaching new 52-...
000BDX-E 2012-02-11  1st Source reports Q4 EPS $0.25 vs year-ago $0.19
...                                                                ...
0V4L7K-E 2022-12-22  StreetAccount Summary -- Recent SPAC Activity:...
         2022-12-23  StreetAccount Summary: Stocks reaching new 52-...
0V5P1L-E 2022-11-23  LTIMindtree resumed sell at Citi (timing uncer...
         2022-12-16  LTIMindtree initiated outperform at CLSA (pre-...
0V8D91-E 2022-12-15  StreetAccount Summary -- Recent SPAC Activity:...

                                                            story_body
SYMBOL   DATE
000BDW-E 2020-02-13  <!DOCTYPE html><html><body><ul>\n <li><b>52-We...
         2020-02-20  <!DOCTYPE html><html><body><ul>\n <li><b>52-We...
         2022-05-12  <!DOCTYPE html><html><body><ul>\n <li><b>52-We...
         2022-05-17  <!DOCTYPE html><html><body><ul>\n <li><b>52-We...
000BDX-E 2012-02-11  <html><body><ul>\n    <li><b>Reports Q4</b>:\n...
...                                                                ...
0V4L7K-E 2022-12-22  <!DOCTYPE html><html><body><ul>\n <li><b>Overv...
         2022-12-23  <!DOCTYPE html><html><body><ul>\n <li><b>52-We...
0V5P1L-E 2022-11-23  <!DOCTYPE html><html><body><ul>\n <li>Target i...
         2022-12-16  <!DOCTYPE html><html><body><ul>\n <li>Target i...
0V8D91-E 2022-12-15  <!DOCTYPE html><html><body><ul>\n <li><b>Overv...

[4793465 rows x 2 columns]

In [17]:

print('removing "StreetAccount" reports ')
pattern = r'.*Street\s*Account.*'
def filter_function(x:str):
    if not x.__class__ == str:
        return False
    return re.search(pattern, x) is not None
news_pkl['hasSA'] = news_pkl['headline'].apply(filter_function)
print("num 'StreetAccount' rows : ", news_pkl.hasSA.sum() / news_pkl.shape[0], "out of ", news_pkl.shape[0])
news_pkl = news_pkl.loc[~news_pkl.hasSA, ["headline", "story_body"]]

removing "StreetAccount" reports
num 'StreetAccount' rows :  0.2756237919751161 out of  4793465

In [19]:
news_pkl

                                                              headline  \
SYMBOL   DATE
000BDX-E 2012-02-11  1st Source reports Q4 EPS $0.25 vs year-ago $0.19
         2012-02-12  1st Source reports Q4 EPS $0.45 vs year-ago $0.25
         2012-02-13  1st Source repurchased warrant for common shar...
         2012-02-13  1st Source reports Q1 EPS $0.43 vs year-ago $0.33
         2012-02-13  Follow-up: 1st Source reports Q1 EPS $0.43 vs ...
...                                                                ...
0V2TY7-E 2022-12-02  Insider transaction: OmniAb President & CEO Ma...
         2022-12-17                 Credit Suisse initiates OABI, VRDN
         2022-12-21       OmniAb initiated buy at Truist ($3.24, 0.00)
0V5P1L-E 2022-11-23  LTIMindtree resumed sell at Citi (timing uncer...
         2022-12-16  LTIMindtree initiated outperform at CLSA (pre-...

                                                            story_body
SYMBOL   DATE
000BDX-E 2012-02-11  <html><body><ul>\n    <li><b>Reports Q4</b>:\n...
         2012-02-12  <html><body><ul>\n <li><b>Reports Q4</b>:\n <u...
         2012-02-13  <html><body>1st Source Corporation entered int...
         2012-02-13                                               None
         2012-02-13  <html><body><ul>\n    <li><b>Reports Q1:</b>\n...
...                                                                ...
0V2TY7-E 2022-12-02  <!DOCTYPE html><html><body><ul>\n <li>Foehr be...
         2022-12-17  <!DOCTYPE html><html><body><ul>\n <li>OmniAb (...
         2022-12-21  <!DOCTYPE html><html><body><ul>\n <li>Target i...
0V5P1L-E 2022-11-23  <!DOCTYPE html><html><body><ul>\n <li>Target i...
         2022-12-16  <!DOCTYPE html><html><body><ul>\n <li>Target i...

[3472272 rows x 2 columns]

In [22]:

print(f"merging with df_symbols")
news_pkl= news_pkl[['headline']].reset_index(drop=False).merge(df_symbols[['fsym_id', 'factset_entity_id']], left_on = 'SYMBOL', right_on = 'factset_entity_id', how = 'left')

merging with df_symbols

,SYMBOL,DATE,headline,fsym_id,factset_entity_id
0,000BDX-E,2012-02-11,1st Source reports Q4 EPS $0.25 vs year-ago $0.19,RPMZQ3-R,000BDX-E
1,000BDX-E,2012-02-12,1st Source reports Q4 EPS $0.45 vs year-ago $0.25,RPMZQ3-R,000BDX-E
2,000BDX-E,2012-02-13,1st Source repurchased warrant for common shar...,RPMZQ3-R,000BDX-E
3,000BDX-E,2012-02-13,1st Source reports Q1 EPS $0.43 vs year-ago $0.33,RPMZQ3-R,000BDX-E
4,000BDX-E,2012-02-13,Follow-up: 1st Source reports Q1 EPS $0.43 vs ...,RPMZQ3-R,000BDX-E
...,...,...,...,...,...
35008153,0V2TY7-E,2022-12-21,"OmniAb initiated buy at Truist ($3.24, 0.00)",BJZPXP-R,0V2TY7-E
35008154,0V2TY7-E,2022-12-21,"OmniAb initiated buy at Truist ($3.24, 0.00)",VYN964-R,0V2TY7-E
35008155,0V2TY7-E,2022-12-21,"OmniAb initiated buy at Truist ($3.24, 0.00)",VYN964-R,0V2TY7-E
35008156,0V5P1L-E,2022-11-23,LTIMindtree resumed sell at Citi (timing uncer...,PHBR8R-R,0V5P1L-E
35008157,0V5P1L-E,2022-12-16,LTIMindtree initiated outperform at CLSA (pre-...,PHBR8R-R,0V5P1L-E

In [23]:
news_pkl.shape[0]//10**6

35

In [24]:
del news_pkl['SYMBOL']
news_pkl.rename(columns = {"fsym_id": "SYMBOL"}, inplace = True)
if not "SYMBOL" in news_pkl.index.names and not "DATE" in news_pkl.index.names:
    news_pkl = news_pkl.set_index(['SYMBOL', 'DATE']).sort_index()

In [29]:
del news_pkl['factset_entity_id']

In [26]:
print(f"number of symbols unique {news_pkl.index.get_level_values(0).nunique()}\nnumber of dates unique {news_pkl.index.get_level_values(1).nunique()}\nnumber of rows {news_pkl.shape[0]}")
print(f"shape {news_pkl.shape}")

number of symbols unique 90683
number of dates unique 3969
number of rows 35008158
shape (35008158, 2)

In [31]:

news_pkl.to_parquet(os.path.join(data_folder, 'news_headlines_final_v2.2_not_merged.parquet'))

In [32]:
news_pkl

                                                              headline
SYMBOL   DATE
B006D6-R 2012-02-12  Euronet reports Q4 adjusted cash EPS $0.40 vs ...
         2012-02-12  Euronet discloses expenses related to previous...
         2012-02-12  Euronet to deploy ATM's in German airports, to...
         2012-02-13         Euronet initiated buy at Sidoti (pre-open)
         2012-02-13  Euronet reports Q1 adjusted cash EPS $0.30 vs ...
...                                                                ...
NaN      2022-12-23  Far Peak Acquisition and Bullish mutually agre...
         2022-12-23               Colicity discloses liquidation - 8-K
         2022-12-23  FDA grants orphan drug designation to Disc Med...
         2022-12-23  Rainwater Tech to become publicly traded throu...
         2022-12-24  Enersense International receives order from Da...

[35008158 rows x 1 columns]

In [34]:
df_price.head()

                     exch_rate_sec_eur  p_price_adj_split_spinoff_div  \
SYMBOL   DATE
B00165-R 1998-01-01           0.916674                         8.3750
         1998-01-02           0.920302                         8.1250
         1998-01-05           0.927988                         8.0625
         1998-01-06           0.929887                         8.0625
         1998-01-07           0.931706                         8.3125

                     DES_MCAP_CCY DES_FACTSET_INDUSTRY   DES_FACTSET_SECTOR  \
SYMBOL   DATE
B00165-R 1998-01-01   105131.3750    Packaged Software  Technology Services
         1998-01-02   101993.1250    Packaged Software  Technology Services
         1998-01-05   101208.5625    Packaged Software  Technology Services
         1998-01-06   101208.5625    Packaged Software  Technology Services
         1998-01-07   104346.8125    Packaged Software  Technology Services

                     DES_BETA_ADJ_104W  RET_5D_bin  RET_10D_bin
SYMBOL   DATE
B00165-R 1998-01-01          -1.531950         1.0          0.0
         1998-01-02          -1.517021         1.0          1.0
         1998-01-05          -1.511409         1.0          1.0
         1998-01-06          -1.509623         1.0          1.0
         1998-01-07          -1.502371         0.0          0.0

In [35]:

print(f"merging with df_price")
cols_final = ['SYMBOL', 'DATE', 'RET_10D_bin','RET_5D_bin', 'DES_MCAP_CCY','DES_FACTSET_INDUSTRY',	'DES_FACTSET_SECTOR','DES_BETA_ADJ_104W']

merging with df_price

In [37]:
out = news_pkl.merge(
    df_price.reset_index(drop=False)[cols_final], 
    on = ['SYMBOL', 'DATE'],
    how = 'left').dropna(subset = ['RET_10D_bin', 'DES_BETA_ADJ_104W'])


diff = set(news_pkl.index.get_level_values(0)) - set(df_price.index.get_level_values(0))
print(f"number of NA symbols : {len(diff)} out of {len(set(news_pkl.index.get_level_values(0)))}")

number of NA symbols : 72872 out of 90684

In [40]:
out = out.set_index(['SYMBOL','DATE']).sort_index()

In [41]:
print(f"number of symbols unique {out.index.get_level_values(0).nunique()}\nnumber of dates unique {out.index.get_level_values(1).nunique()}\nnumber of rows {out.shape[0]}")

number of symbols unique 11443
number of dates unique 2057
number of rows 2601757

In [42]:
outsmall = out.iloc[:100]
outsmall
out.to_parquet(os.path.join(data_folder, 'news_headlines_final_v1.2.parquet'))

In [110]:
outsmall

                                                                  text
SYMBOL   DATE
B00FG1-R 2016-01-13  PBF Logistics guides FY (Dec 2016) Revenue $14...
         2016-02-03  PBF Logistics acquires four refined product te...
         2016-03-31  PBF Logistics announces 2.5M unit secondary of...
         2016-04-20  FTC grants antitrust clearance for PBF Logisti...
         2016-04-21  Raymond James initiates MPLX, PBFX, PSXP, othe...
...                                                                ...
B00M5L-R 2012-05-03  Ultra Petroleum announces purchase of ~20K net...
         2012-05-07  Ultra Petroleum initiated sector perform at RB...
         2012-05-07  Oil and Gas E&P companies initiated at Thomas ...
         2012-05-07  Ultra Petroleum initiated outperform at Credit...
         2012-05-07  Follow-up: UPL and EAC upgraded, KWK and FST d...

[100 rows x 1 columns]

In [93]:
out.to_parquet(os.path.join(data_folder, 'news_headlines_final_v2.parquet'))

In [94]:
out.to_parquet(os.path.join(os.path.dirname(data_folder), 'backup', 'news_headlines_final_v2.parquet'))